.button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border: 1px solid var(--color-grey-dark);
  cursor: pointer;
  padding: var(--spacing-small) var(--spacing);
  vertical-align: middle;
  text-align: left;
  font-size: var(--font-size);
  min-width: var(--spacing-large);
  min-height: var(--button-min-height);
  margin-right: var(--spacing-small);
  background-color: var(--color-secondary);
  margin-bottom: var(--spacing);
  color: var(--color-primary);
  transition: 0.2s ease-in;
  font-weight: bold;
}

.large {
  width: 400px;
}

.small {
  font-size: var(--font-size-small);
}

.full {
  width: 100%;
}

.button > * {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: var(--spacing-small);
}

.button > svg {
  width: 20px;
}

.button:hover {
  background-color: var(--color-secondary-alternate);
}

.button:active {
  background-image: none;
}

.button:last-of-type {
  margin-right: 0;
}

.noMargin {
  margin: 0;
}

.button:disabled {
  outline: none;
  box-shadow: none;
  background-image: none;
  cursor: not-allowed;
  opacity: 0.7;
}

.primary {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-white);
}

.primary:hover {
  background-color: var(--color-primary-alternate);
}

.danger {
  background-color: var(--color-danger);
  border: 1px solid var(--color-danger);
  color: var(--color-white);
}

.danger:hover {
  background-color: var(--color-danger-alternate);
}

.success {
  background-color: var(--color-success);
  border: 1px solid var(--color-success);
  color: var(--color-white);
}

.success:hover {
  background-color: var(--color-success-alternate);
}

.warning {
  background-color: var(--color-warning);
  border: 1px solid var(--color-warning);
  color: var(--color-white);
}

.warning:hover {
  background-color: var(--color-warning-alternate);
}

/* TODO: Consider moving the spinner to a separate component */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  position: relative;
  color: transparent;
  opacity: 0.7;
}

.loading:hover {
  cursor: not-allowed;
}

.loading::before {
  animation: spin infinite 1s linear;
  margin: -11px 0 0 -11px;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 50%;
  top: 50%;
  content: '';
  border-radius: 24px;
  border: rgba(255, 255, 255, 0.25) 2px solid;
  border-top-color: var(--color-white);
}
